.container--header{
    display: flex;
    align-items: center;
}
.header__top{
    background-color: #252525;
}






.header__banner{
    background-image: url(../img/header/header-bg.png);
    background-position: bottom;
    background-size: cover;
    padding-bottom: 5em;
}