.c-section{
    padding-top: 10em;
}
.c-titles{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.c-titles--center{
    align-items: center;
}
.section__title{
    color: #dd2574;
    margin: 0;
    margin-bottom: .5em;
    text-transform: capitalize;
}
.section__subtitle{
    font-size: 3.2em;
    margin: 0;
    margin-bottom: .5em;
    text-transform: capitalize;
    span{
        display: block;
        color: #EF3C4F;
    }
}
.section__subtitle--center{
    text-align: center;
}
.section__sub-subtitle{
    font-size: 1.7em;
    font-weight: bold;
}
// SERVICE
.c-section--services{
    padding-top: 4em;
}





// WORK
.line-progress{
    position: relative;
    display: flex;
    justify-content: space-between;
    &::after,
    &::before{
        content: "";
        display: block;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        left: 0;
        bottom: 1rem;
    }
    &::before{
        width: 100%;
        background-color: #ababab;
        
    }
    &::after{
        background: $secon-color;
    }
}

.line-progress__date{
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 2em;
    display: block;
}

.line-progress-1::after{
    width: 75%;
}
.line-progress-2::after{
    width: 80%;
}
.line-progress-3::after{
    
    width: 55%;
}
// TEAM

.team__check-list{
    font-size: 1.6em; 
}
// SOLUTION
.next-and-back{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next,
.back{
    width: 5em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    i{
        font-size: 2em;
    }
    &:hover{
        i{    
        color: #dd2574;
        }
    }
}

// ALLIES
.c-allies{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.c-allies__item{
    width: 40%;
    @media screen and (min-width: 768px) and (max-width: 992px){
        width: 30%;
    }
    @media screen and (min-width: 992px){
        width: 15%;
    }
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 20px #ababab;
    cursor: pointer;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        filter: grayscale(100%) opacity(0.5);
        border-radius: 20px;
    }
    &:hover img{
        filter: none;
    }
}
// TESTIMONIAL
.c-section--unique{
    position: relative;
    z-index: 10;
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.back{
    margin-right: 5px;
}
.next{
    margin-left: 5px;
}

.back, .next{
    &:hover{
        background: transparent;
        border: 2px solid #dd2574;
    }
}