@mixin btn ($padding, $font-size) {
    display: inline-block;
    padding: $padding $padding * 2;
    font-size: $font-size;
}
@mixin button ($bg-color, $padding, $font-size) {
    display: inline-block;
    background: $bg-color;
    padding: $padding;
    font-size: $font-size;
    border-radius: $font-size / 2;
    &:active{
        transform: scale(0.98, 0.98);
    }
}




// @mixin button ($bg-color, $padding, $font-size) {
//     display: inline-block;
//     background-color: $bg-color;
//     padding: $padding;
//     font-size: $font-size;
//     border-radius: $font-size / 2;
//     border: 1px solid darken($color: $bg-color, $amount: 25%);
//     color: darken($color: $bg-color, $amount: 25%);
//     &:hover{
//         background-color: darken($color: $bg-color, $amount: 25%);
//         color: lighten($color: $bg-color, $amount: 25);
//     }
//     &:active{
//         transform: scale(0.98, 0.98);
//     }
// }